.error__container {
  position: absolute;
  background: rgba(211, 196, 196, 0.92);

  top: 0;
  bottom: 0;
  left: 0;
  right: 0;
  z-index: 10;
  display: flex;
  justify-content: center;
  align-items: center;
  font-size: 75px;
  box-shadow: inset 0 0 15px black;

  border-radius: 3px;
  line-height: 150px;
  -webkit-text-stroke: 2px black;

  color: rgb(189, 187, 187);
  animation: fade 4s;
}

@keyframes fade {
  0% {
    opacity: 1;
  }
  50% {
    opacity: 1;
  }
  100% {
    opacity: 0;
  }
}
